@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.section-intro {
  background-image: linear-gradient(
    to top right,
    #003bd6 20%,
    #86A8E7 50%,
    #5FFBF1 80%
  );
}

.agile-bolt{
  background-color: gray;
  padding: 10px;
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.agile-bolt-inverse{
  background-color: #aeeaff;
  padding: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
}

.agile-bolt, .agile-bolt-inverse {
  min-width: 280px;  /* or whatever width matches your design */
  text-align: center;
}

.glass-morph {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  padding: 20px;
}

.glass-morph-box {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 16px;
}