

.progress-container-mobile {
    position: relative;
  }



/* ==========================
progress bar new mobile 
=========================== */


.progress-bar-new-mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    list-style-type: none;
    font-size: 12px;
    line-height: 10px;
    text-align: left;
}

/* Single arrows */
.progress-bar-new-mobile li {
    padding: 10px 5px 10px 20px;
    background: #333;
    color: #fff;
    position: relative;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    margin: 20px 0;
    width: 200px;
}

/* backside shape */
.progress-bar-new-mobile li:before {
    content: '';
    border-top: 16px solid #fff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}

/* arrow head */
.progress-bar-new-mobile li:after {
    content: '';
    border-top: 16px solid #333;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    left: 0;
    bottom: -16px;
    z-index: 20;
}

/* floating container for the lottie */
.floating-lottie-container-mobile {
    position: absolute;
    color: black;
    left: 220px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    z-index: 30; /* Higher than the arrow's z-index */
}

@keyframes turnGreen {
    from { background-color: #333; }
    to { background-color: rgb(11, 114, 9); }
}

.progress-bar-new-mobile li.active {
    animation: turnGreen 0.7s forwards;
}

.progress-bar-new-mobile li.active:after {
    border-top-color: rgb(11, 114, 9);
}