.progress-container {
    position: relative;
  }


/* Bar background */
.progress-bar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    list-style-type: none;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    margin: 120px;
}

/* Single arrows */
.progress-bar li {
    flex: 1;
    padding: 10px 5px;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    margin: 0 1px;
}

/* backside shape */
.progress-bar li:before {
    content: '';
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    
}

/* arrow head */
.progress-bar li:after {
    content: '';
    border-left: 16px solid #333;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

/* text above the arrow */
.floating-element {
    position: absolute;
    color: black;
    top: -80px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    z-index: 30; /* Higher than the arrow's z-index */
}

/* Icon above the arrow */
.icon-container {
    position: absolute;
    font-size: 24px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
}

@keyframes turnRed {
    from { background-color: #333; }
    to { background-color: rgb(96, 12, 12); }
  }
  
  .progress-bar li.active {
    animation: turnRed 0.7s forwards;
  }
  
  .progress-bar li.active:after {
    border-left-color: rgb(96, 12, 12);;
}



/* ===============
New Progress
=============== */
/* Bar background */

.progress-bar-new {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: relative;
    list-style-type: none;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    margin: 140px;
}

/* Single arrows */
.progress-bar-new li {
    flex: 1;
    padding: 10px 5px;
    background: #333;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    margin: 0 1px;
}

/* backside shape */
.progress-bar-new li:before {
    content: '';
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    
}

/* arrow head */
.progress-bar-new li:after {
    content: '';
    border-left: 16px solid #333;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

/* floating container for the lottie */
.floating-lottie-container {
    position: absolute;
    color: black;
    top: -180px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    z-index: 30; /* Higher than the arrow's z-index */
}

@keyframes turnGreen {
    from { background-color: #333; }
    to { background-color: rgb(11, 114, 9); }
  }
  
  .progress-bar-new li.active {
    animation: turnGreen 0.7s forwards;
  }
  
  .progress-bar-new li.active:after {
    border-left-color: rgb(11, 114, 9);
}